.container-general{
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-title{
    width: 100%;
    margin: 30px 0 20px 0;
}

.news-container{
    padding: 40px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.new-title {
    text-align: center;
    font-size: 40px;
    cursor: default;
}

.new {
    width: 16rem;
    position: relative;
}

.new > img {
    width: 100%;
    height: 150px;
}

.new-text {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.new-text:hover{
    text-decoration: underline;
}

.news-responsive {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.new small {
    position: absolute;
    bottom: 10px;
}

.btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.ver-noticias{
    border: none;
    padding: 10px;
    font-size: 20px;
    background: dodgerblue;
    color: white;
    text-align: center;
    border-radius: 30px;
    font-weight: bolder;
    width: 20%;
    text-decoration: none;
}

.ver-noticias:hover{
    background: rgb(26, 121, 216);
}