@import "bootstrap/scss/bootstrap";
.lazy-loading {
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
